*_firmware/PLLJ_PLLSPE_INFO.txt
*_firmware/*.qws
*_firmware/*.sopcinfo
*_firmware/db/
*_firmware/incremental_db/
*_firmware/output_files/
*_firmware/simulation/
*.b#*
*.s#*
*.job
*.pro
*.pyc
*-firmware/db/
*-firmware/incremental_db/
*-firmware/output_files/*.summary
*-firmware/output_files/*.rpt
*-firmware/output_files/*.done
*/coincidence.qws
.idea
